html {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Yantramanav', sans-serif; */

img {
  display: block;
  width: 100%;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1, h2 {
  font-family: Garamond, serif;
  font-weight: lighter;
}

h1 {
  font-size: 2rem;
  color: #a6114a;
}

h2 {
  font-size: 1.5rem;
  color: #a6114a;
  text-transform: uppercase;
}

header, footer {
  background-color: #000;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

nav {
  padding: 0.5rem;
  grid-column: 2;
  grid-row: 1;
}

.logo {
  width: 50px;
  height: 70px;
  padding: 0.5rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.icon {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #a6114a;
  background-color: #a6114a;
}

.bottle {
  display: block;
  width: 100px;
  height: 100px;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #a6114a;
  background-color: #e3e3e3;
}

.specific-categories ul li img {
  padding: 0.5rem;
  border: 2px solid #fff1c9;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff1c9;
  background-color: #ffaeb0;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.button:hover {
  color: #ffaeb0;
  background-color: #fff1c9;
}

article, section {
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3e3;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.card li h3 {
  color: #a6114a;
  text-transform: uppercase;
  font-weight: lighter;
}

.card li p {
  color: #a6114a;
  font-family: Garamond, serif;
  align-self: flex-start;
  margin: 4px 0;
}

.curiosities {
  background-color: #a6114a;
}

.curiosities h2 {
  font-family:'Nunito Sans', sans-serif;
  color: #fff1c9;
}

.curiosities ul li {
  margin: 1rem 0;
  padding: 1rem;
  color: #fff1c9;
  border: 1px solid #fff1c9;
  border-radius: 5px;
}

@media only screen and (min-width: 20em) {

  .broad-categories ul, .specific-categories ul {
    flex-direction: row;
  }

}
