html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -30em;
  background-color: rgba(255, 255, 255, .9);
  color: #000;
  padding: 1.5rem .75rem 1.5rem 10rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
  outline: 3px solid #ffaeb0;
}

a:focus {
  outline: 3px solid #ffaeb0;
}

img {
  display: block;
  width: 100%;
  height: inherit;
  border-radius: 5px;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  min-width: 25rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1, h2 {
  font-family: Garamond, serif;
  font-weight: lighter;
  color: #a6114a;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

section > p {
  font-size: 1.25rem;
}

header, footer {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

nav {
  padding: .5rem 1rem;
  grid-column: 2;
  grid-row: 1;
}

.logo {
  width: 160px;
  height: 70px;
  padding: .5rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: .5rem;
}

.intro {
  display: grid;
  grid-template-rows: 2fr;
}

.intro h1 {
  padding: 0 1rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  align-self: center;
}

.intro img {
  grid-column: 1;
  grid-row: 1;
  padding: 0;
}

.icon, .bottle {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #a6114a;
  background-color: #a6114a;
}

.bottle {
  padding: .5rem;
  background-color: #e3e3e3;
}

.specific-categories ul li img {
  padding: .5rem;
  border: 2px solid #fff1c9;
}

.button, .button-1 {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff1c9;
  background-color: #a6114a;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, .1);
}

.button:hover, .button-1:hover {
  color: #a6114a;
  background-color: #fff1c9;
}

.intro, section {
  padding: 1rem;
}

.card, .harmonization-options ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
}

.card li, .harmonization-card, .recipe > ul > div {
  padding: 1rem;
  width: 20rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3e3;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, .2);
}

.card li h3, .harmonization-card li h3 {
  color: #a6114a;
  text-transform: uppercase;
  font-weight: lighter;
}

.card li p, .harmonization-card li p {
  color: #a6114a;
  font-family: Garamond, serif;
  align-self: flex-start;
  margin: 4px 0;
}

.curiosities, .harmonization-types {
  background-color: #a6114a;
  border-radius: 10px 10px 0 0;
}

.curiosities h2, .harmonization-types p {
  font-family: "Nunito Sans", sans-serif;
  color: #fff1c9;
}

.curiosities ul li, .harmonization-types li {
  margin: 1rem 0;
  padding: 1rem;
  color: #fff1c9;
  border: 1px solid #fff1c9;
  border-radius: 5px;
}

.curiosities ul li a {
  color: #fff1c9;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
}

.curiosities ul li a:hover {
  color: #ffaeb0;
}

.harmonization-card, .recipe ul div {
  width: 100%;
}

.harmonization-card li p {
  margin-bottom: 1.5rem;
}

.harmonization-card li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe ul {
  display: grid;
  gap: 1.5rem;
}

.recipe ul div li {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  gap: 1rem;
}

.recipe-img, .recipe-name {
  grid-column: 1;
  grid-row: 1;
}

.recipe-name {
  z-index: 1;
  text-align: center;
  align-self: flex-start;
  background-color: rgba(255, 241, 201, .75);
}

.ingredients, .preparation {
  background-color: #fff1c9;
  border-radius: 5px;
  padding: 1rem;
}

.ingredients dt {
  text-transform: uppercase;
}

.button-1 {
  align-self: flex-start;
  text-align: center;
  max-width: 10rem;
}

@media only screen and (min-width: 40em) {

  h1 {
    font-size: 3rem;
  }

  .curiosities {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    gap: 1.5rem;
  }

  .curiosities h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-bottom: 0;
  }

  .curiosities ul {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  .curiosities img {
    grid-column: 2;
    grid-row: 2;
    align-items: flex-end;
  }

  .harmonization-card li {
    display: grid;
    grid-template-columns: 110px 1fr 180px;
    grid-template-rows: .1fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .harmonization-card li img {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .harmonization-card li h3, .harmonization-card li p {
    grid-column: 2;
  }

  .harmonization-card li a {
    grid-column: 3;
    text-align: center;
    width: 10rem;
  }

  .recipe-name {
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 63em) {

  main {
    padding: 0 10rem;
  }

  .curiosities {
    grid-template-columns: 3fr 1fr;
  }

  .recipe ul div li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 1fr;
    gap: 1rem;
  }

  .recipe-name, .recipe-img {
    grid-column: 1;
    grid-row: 1;
  }

  .recipe-name {
    font-size: 1.5rem;
  }

  .ingredients {
    grid-column: 2;
    grid-row: 1 / -1;
  }

  .preparation {
    grid-column: 3;
    grid-row: 1 / -1;
  }

  .button-1 {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
    text-align: center;
    max-width: 10rem;
  }

}
